.serviceContainer{
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 354px;
}
.serviceContainer img{
    width: 350px;
    border-radius: 10px;
}
.cardPicture{
    height: 400px;
}
.bookBtn{
    width: 100%;
    padding: 15px;
    background-color: orange;
    border-radius: 0px 0px 10px 10px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

