.loginBox{
    border: 1px solid black;
    margin: 30px;
    background-color: grey;
    height: 400px;
    color: orange;
    font-weight: 700;
    font-size: 25px;
}
.input-group input{
    padding: 5px;
    width: 350px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.form-submit{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: orange;
}